@page "/"
@using Microsoft.AspNetCore.Components.Web

<div class="container text-center mt-5">
    <h1 class="display-4">Добро пожаловать в наш интернет-магазин!</h1>
    <p class="lead">Здесь вы можете приобрести программное обеспечение для ваших нужд.</p>
    <img src="images/welcome.png" alt="Welcome" class="img-fluid mt-4" style="max-width: 400px;" />
    <div class="mt-4">
        <a href="/products" class="btn btn-primary btn-lg">Перейти к товарам</a>
    </div>
</div>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система аэропорта</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        .auto-hiding-navbar {
            transition: all 0.3s ease-in-out;
        }

            .auto-hiding-navbar.scrolled {
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

        .icon {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Аэропорт</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Рейсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Добро пожаловать в аэропорт!</h1>
                    <p>Мы предоставляем качественные услуги для комфортного путешествия. Наши рейсы соединяют вас с самыми разными уголками мира.</p>
                    <button type="button" class="btn btn-dark btn-lg">Забронировать рейс</button>
                </div>
                <div class="col">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Plane_font_awesome.svg/640px-Plane_font_awesome.svg.png" alt="Аэропорт" class="img-fluid">
                </div>
            </div>
            <div class="row cards">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Plane_font_awesome.svg/640px-Plane_font_awesome.svg.png" alt="..." class="icon">
                            <h5 class="card-title">Расписание рейсов</h5>
                            <p class="card-text">Проверьте актуальное расписание рейсов и выберите удобное время для вашего путешествия.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Plane_font_awesome.svg/640px-Plane_font_awesome.svg.png" alt="..." class="icon">
                            <h5 class="card-title">Онлайн-регистрация</h5>
                            <p class="card-text">Зарегистрируйтесь онлайн и сэкономьте время на регистрации в аэропорту.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Plane_font_awesome.svg/640px-Plane_font_awesome.svg.png" alt="..." class="icon">
                            <h5 class="card-title">Сервисы аэропорта</h5>
                            <p class="card-text">Узнайте о доступных сервисах аэропорта, таких как бизнес-залы, парковка и многое другое.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Plane_font_awesome.svg/640px-Plane_font_awesome.svg.png" alt="Аэропорт" class="img-fluid">
                </div>
                <div class="col">
                    <h1>О нашем аэропорте</h1>
                    <p>Наш аэропорт предоставляет широкий спектр услуг для комфортного путешествия. Мы стремимся обеспечить высокий уровень сервиса и безопасность для всех пассажиров.</p>
                    <p>Наши рейсы соединяют вас с более чем 100 городами по всему миру. Мы работаем 24/7, чтобы ваше путешествие было максимально удобным.</p>
                    <button type="button" class="btn btn-dark btn-lg">Узнать больше</button>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row align-items-center projects">
                <div class="col">
                    <h1>Свяжитесь с нами</h1>
                    <p>Если у вас есть вопросы или предложения, свяжитесь с нами. Мы всегда готовы помочь вам!</p>
                    <button type="button" class="btn btn-dark btn-lg">Контакты</button>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("scroll", function () {
            const navbar = document.querySelector(".auto-hiding-navbar");
            if (window.scrollY > 50) {
                navbar.classList.add("scrolled");
            } else {
                navbar.classList.remove("scrolled");
            }
        });
    </script>
</body>
</html>